*{
    box-sizing: border-box;
    padding: 0;
    margin: 10px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #F2E8D7;
    font-family: 'Helvetica Neue', sans-serif;
    
  }
  
  .nav {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    height: 100vh;
    background-color: #6f4a08;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
  }
  
  .navbar-expanded .links{
    max-height: 500px;
    
  }
  .navbar-menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #F2E8D7;
    transition: heigth 0.3s ease-in-out;

    .is-open{
        height: 300px;
    }

    .icon{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 30px;
    }
  }
  .head_section {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: #605B56;
  }
  
  .logo {
    display: flex;
    align-items: center;
    font-size: 10px;
    font-weight: bold;
    color: #A97C50;
    margin: 10px;
    margin-right: 10px;
    transform: scale(0.8);
  }
  
  .Menu {
    margin: 10px;
    cursor: pointer;
  }
  
  .Menu:hover {
    opacity: 0.7;
  }
  
  ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: 0;
    overflow: hidden;
    transition: max-heigth 0.3 ease-in-out;
    width: 100%;
  }
  
  .link {
    display: flex;
    align-items: center;
    margin: 10px;
    padding: 10px;
    color: #605B56;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
  }
  
  .link:hover {
    background-color: #A97C50;
    color: #F2E8D7;
    border-radius: 5px;
  }
  
  .active {
    background-color: #A97C50;
    color: #F2E8D7;
    border-radius: 5px;

    a{
      top: 10px;
      width: 10px;
      height: 10px;
    }
  }
  
  .icon {
    position: absolute;
    margin-right: 10px;
    font-size: 20px;
    transform: scale(0.8);
    justify-content: center;

  }
  
  .link-text {
    font-size: 18px;
    transition: all 0.3s ease-in-out;
  }

svg{
    width: 30px;
    height: 30px;
}