
//colors
$bgcPage: #ddd;
$textColor: #ddd;
$navColor: rgba(12, 9, 9, 0.9);
$menuColor: rgb(211, 207, 207);
$barsColor: rgba(12, 9, 9, 0.9);
$navInSideColor: darkgrey;



$fontFamily: 'Poppins', sans-serif;


